<img src="../../../assets/images/rev-logo.png" width="30%" height="30%" alt="Revature">
<form id="register-form" [formGroup]="registerForm">
     <h3 class="register-header">Create New Account</h3>
    <div class="form-group">
      <div class="input-group ">  
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"> First Name</span>
        </div> 
        <input type="text" class="form-control" formControlName="fname" id="inputFirstName" placeholder="Enter First Name">
       </div>
       <small *ngIf="f.fname?.invalid && f.fname?.touched" class="text-danger">Please enter a first name.</small>
    </div>

  <div class="form-group">
    <div class="input-group ">  
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Last Name</span>
      </div> 
      <input type="text" class="form-control" formControlName="lname" id="inputLastName" placeholder="Enter Last Name" >
     </div>
     <small *ngIf="f.lname?.invalid && f.lname?.touched" class="text-danger">Please enter a last name.</small>
  </div>
    <div class="form-group">
      <div class="input-group ">  
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope "></i></span>
        </div> 
        <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@email.com">
       </div>
      <small *ngIf="f.email?.invalid && f.email?.touched" class="text-danger">Please enter a email address.</small>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-lock "></i></span>
        </div>
        <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Enter a Password">
      </div>
      <small *ngIf="f.password?.invalid && f.password?.touched" class="text-danger">Please enter a password.</small>
    </div>

    
    <button class="btn btn-primary" (click)="onSubmit()">Register</button>
</form>

