<nav class="navbar navbar-expand-lg light-background bg-light py-0">
    <div class="logo-holder col mr-auto">
        <div class="row align-items-center">
            <a class="navbar-brand" [routerLink]="['/home']">
                <img src="../../../assets/images/soulsounds-logo.png" width="140px" alt="Revature">
            </a>
            <h4 class="light-foreground">Soul Sounds Shop</h4>
        </div>
        
    </div>
    
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form id="searchForm" class="row form-inline my-lg-0 m-auto">
            <input id="searchBar" class="form-control mr-sm-2" type="search" placeholder="Search for products..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a #navLinkLight class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="retrieveByCategory('Guitars')">Guitars</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="retrieveByCategory('Pianos')">Keyboards</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="retrieveByCategory('Drums')">Drums</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="retrieveByCategory('Woodwinds')">Woodwinds</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="retrieveByCategory('DJ Equipment')">DJ Equipment</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a #navLinkLight class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Brands</a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="retrieveByBrand('Martin')">Martin</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="retrieveByBrand('Fender')">Fender</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="retrieveByBrand('Epiphone')">Epiphone</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="retrieveByBrand('Taylor')">Taylor</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="retrieveByBrand('Casio')">Casio</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="retrieveByBrand('Rogue')">Rogue</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="retrieveByBrand('Williams')">Williams</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="retrieveByBrand('Numark')">Numark</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="retrieveByBrand('Yamaha')">Yamaha</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="retrieveByBrand('Etude')">Etude</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="retrieveByBrand('Mitchell')">Mitchell</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="retrieveByBrand('Pioneer')">Pioneer</a>
                </div>
            </li>

            <li *ngIf="isLoggedIn==false" class="nav-item mx-2">
                <a #navLinkLight class="nav-link" [routerLink]="['/login']">Login</a>
            </li>

            <li *ngIf="isLoggedIn" class="nav-item dropdown mx-2">
                <a #navLinkLight class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg class="fa-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path #navLinkLight fill="#437bac" class="icon-svg"
                            d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
                    </svg>
                    <!-- <span class="nav-text">Account</span> -->
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/account']">
                        <svg class="fa-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="#437bac" class="icon-svg"
                                d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
                        </svg>
                        Update Account
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/orders']">
                        <svg class="fa-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                            <path fill="#437bac"
                                d="M36.8 192H603.2c20.3 0 36.8-16.5 36.8-36.8c0-7.3-2.2-14.4-6.2-20.4L558.2 21.4C549.3 8 534.4 0 518.3 0H121.7c-16 0-31 8-39.9 21.4L6.2 134.7c-4 6.1-6.2 13.2-6.2 20.4C0 175.5 16.5 192 36.8 192zM64 224V384v80c0 26.5 21.5 48 48 48H336c26.5 0 48-21.5 48-48V384 224H320V384H128V224H64zm448 0V480c0 17.7 14.3 32 32 32s32-14.3 32-32V224H512z"/>
                        </svg>
                        &nbsp;Previous Orders
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/wishlist']">
                        <svg class="fa-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="#437bac"
                            d="M40 48C26.7 48 16 58.7 16 72v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V72c0-13.3-10.7-24-24-24H40zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM16 232v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V232c0-13.3-10.7-24-24-24H40c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V392c0-13.3-10.7-24-24-24H40z"/>
                        </svg>
                        &nbsp;My Wishlist</a>
                    
                    <!--<a class="dropdown-item" [routerLink]="['/cart']">Cart</a> -->
                </div>
            </li>
            <form *ngIf="isLoggedIn" class="form-inline">
                <button class="btn btn-light" [routerLink]="['/cart']">
                    Cart
                    <span class="badge badge-info">{{cartCount}}</span>
                </button>
                <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout();">Logout</button>
            </form>
        </ul>
        
    </div>
    <div class="dark-mode-toggle">
        <input type="checkbox" class="checkbox" id="checkbox" (change)="toggleDarkMode();">
        <label for="checkbox" class="label">
            <i class="fa fa-moon-o" aria-hidden="true"></i>
            <i class="fa fa-sun-o" aria-hidden="true"></i>
            <div class="ball"></div>
        </label>
    </div>
</nav>

<!-- <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/home']">
        <img src="../../../assets/images/soulsounds-logo.png" width="15%" alt="Revature">
    </a>
    <h4>Soul Sounds Shop</h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="navbar-nav mr-auto">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" id="searchInput" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchBtn">Search</button>
                </form>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="/web/html/products.html" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                </a>

                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/web/html/products/type/blush.html">Blush</a>
                    <a class="dropdown-item" href="/web/html/products/type/bronzer.html">Bronzer</a>
                    <a class="dropdown-item" href="/web/html/products/type/eyebrow.html">Eyebrow</a>
                    <a class="dropdown-item" href="/web/html/products/type/eyeliner.html">Eyeliner</a>
                    <a class="dropdown-item" href="/web/html/products/type/eyeshadow.html">Eyeshadow</a>
                    <a class="dropdown-item" href="/web/html/products/type/foundation.html">Foundation</a>
                    <a class="dropdown-item" href="/web/html/products/type/lipliner.html">LipLiner</a>
                    <a class="dropdown-item" href="/web/html/products/type/lipstick.html">Lipstick</a>
                    <a class="dropdown-item" href="/web/html/products/type/mascara.html">Mascara</a>
                    <a class="dropdown-item" href="/web/html/products/type/nail-polish.html">Nail Polish</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/web/html/products.html" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Brands
                </a>

                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/web/html/products/brand/almay.html">almay</a>
                    <a class="dropdown-item" href="/web/html/products/brand/covergirl.html">covergirl</a>
                    <a class="dropdown-item" href="/web/html/products/brand/marienatie.html">marienatie</a>
                    <a class="dropdown-item" href="/web/html/products/brand/maybelline.html">maybelline</a>
                    <a class="dropdown-item" href="/web/html/products/brand/nyx.html">nyx</a>
                    <a class="dropdown-item" href="/web/html/products/brand/revlon.html">revlon</a>

                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <svg class="fa-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="#95654f" class="icon-svg"
                            d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
                    </svg>
                    <span class="nav-text">Account</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/web/html/userAccount.html">Account</a>
                    <a class="dropdown-item" href="/web/html/orders.html">Orders</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/web/html/user_login.html">Login</a>
                    <a class="dropdown-item" href="/web/html/create_account.html">Create Account</a>

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/web/html/cart.html">
                    <svg class="fa-primary" id="cart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="#95654f" class="icon-svg"
                            d="M24 0C10.7 0 0 10.7 0 24S10.7 48 24 48H76.1l60.3 316.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24-10.7 24-24s-10.7-24-24-24H179.9l-9.1-48h317c14.3 0 26.9-9.5 30.8-23.3l54-192C578.3 52.3 563 32 541.8 32H122l-2.4-12.5C117.4 8.2 107.5 0 96 0H24zM176 512c26.5 0 48-21.5 48-48s-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48zm336-48c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48z" />
                    </svg>
                    <span class="nav-text" id="cartCounter">0</span>
                </a>
            </li>
        </ul>
    </div>


    <form class="form-inline">
        <button class="btn btn-light" [routerLink]="['/cart']">
            Cart
            <span class="badge badge-info">{{cartCount}}</span>
        </button>
        <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout();">Logout</button>
    </form>
</nav> -->
