#updateAccountInfoForm
{
    /* border:lightgray 2px solid; */
    
    border-radius: 12px 12px 12px 12px;
    padding-top: 0%;
    padding-left: 1%;
    justify-content: center;
    margin: auto;
    
    animation: 0.5s ease-in-out 0s 1 slideInFromTop;

}

.button {
    position: absolute;
    top:50%;
    background-color:#6077da3a;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
  }
 
    input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 1px solid #437BAC;
      background-color: #FFFFFF;

    }
    input[type=number] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 1px solid #437BAC;
      background-color: #FFFFFF;
    }
    input[type=email] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 1px solid #437BAC;
      background-color: #FFFFFF;

    }

    #state {
      width: 100%;
      padding: 0px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 1px solid #437BAC;
      background-color: #FFFFFF;

    }

    #formFile {
      padding: 3px 12px;
      border: 1px solid #437BAC;
    }

    body {
      background-color: #DBDBDB;
    }
