<!doctype html>
<app-navbar></app-navbar>
<html lang="en"> 
<head>
    <meta charset="utf-8">
    <title>Wishlist - My Account</title>
    <meta name="description" content="Manage My Wishlist">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <div class="row align-items-start">
       <div class="col" *ngFor="products for wishlist">
            <app-wish-List
                class="wishListItem"
                [productInfo]="product"
            ></app-wish-List> 
        </div> 
    </div>
</div>
<button class="btn btn-warning" (click)="addtoCart()">Add to Cart</button>
