<!DOCTYPE html>
<html lang="en">
<app-navbar></app-navbar>
<!-- The HTML <head> tag is a container for metadata and links to scripts and stylesheets.-->
<head>
    <link rel="stylesheet" href="../home/home.component.css">
    

    <title>Soul Sounds, Sound That Speaks To The Soul - Soulsounds.com</title>

    <!-- The following .async-hide function is to make it so that the page doesn't load in parts, it loads all at once-->
    <style>.async-hide {opacity: 0 !important}</style>
</head>

<body class = "homepage US_EN" id = "homepage">
    <!-- The HTML <header> tag is used for headers, it is a semantic container used to designate contents that are introductory or navigational in nature.-->
    <header id = "header" class = "header" role = "banner">
        <!-- Navbar here -->

        

    </header>

    <!-- Main page content here-->
    <div class = "body" id = "main-content">
        <div class = "body-inner">
            <div class = "body-content">
                <!-- Sitewide promo here-->
                <div id = "site-wide-promo" class = "site-wide-promo active">
                    <a class = "site-wide-promo-link" style = "background-color: #000000; color: #ffffff">
                        " Free shipping over $500 "
                    </a>
                </div>
                <!-- Home Grid here using module grid styling -->
                <div id = "home-grid" class = "module-grid-parent">
                    <!-- Defining a section of the grid -->
                    <section class = "module module-grid-item u-negative">
                        <!-- This is a data link that links the module to another page. Thus anywhere in this grid that is clicked will lead to said page.-->
                        <div [routerLink]="['/products']" [queryParams]="{category: 'Drums'}" data-target class = "module-link-layer u-negative">
                            <div class = "module-content-layer u-top-large u-top-small ">
                                <h5 class = "module-heading--primary">
                                    Where words fail,
                                    <br>
                                    music speaks
                                </h5>
                                <p>
                                    Soul Sounds - soul to the universe, wings to the mind, flight to the imagination
                                </p>
                                <!-- This is in case we decide to add a button here saying click here or something, css styling in place-->
                                <div class = "module-content-cta-links">
                                    <a [routerLink]="['/products']" [queryParams]="{category: 'Drums'}" class = "button" target>
                                        Drums
                                    </a>
                                </div>
                            
                            </div>
                            <div class = "module-bg-image-container">
                                <div class = "module-home-gallery-hover">
                                    <div class = "module-content-layer u-top-large u-top-small">
                                        <div class = "module-content-cta-links"> </div>
                                    </div>
                                </div>
                                <picture class = "module-bg-picture">
                                    <img src = "../../../assets/images/drum-img.jfif">
                                </picture>
                            </div>
                        </div>
                    </section>
                    <section class = "module module-grid-item u-negative">
                        <!-- This is a link that links the module to another page. Thus anywhere in this grid that is clicked will lead to said page.-->
                        <a [routerLink]="['/products']" [queryParams]="{category: 'Guitars'}" target class = "module-link-layer u-negative">
                            <div class = "module-content-layer u-top-large u-top-small ">
                                <h5 class = "module-heading--primary">
                                    like a dream
                                </h5>
                                <p>
                                    Check Out Guitars
                                    <a class="p" [routerLink]="['/products']" [queryParams]="{category: 'Guitars'}"></a>
                                </p>
                            </div>
                            <div class = "module-bg-image-container">
                                <picture class = "module-bg-picture">
                                    <img src = "../../../assets/images/guitar-img.jfif">
                                </picture>
                            </div>
                        </a>
                    </section>
                    <section class = "module module-grid-item u-negative">
                        <!-- This is a link that links the module to another page. Thus anywhere in this grid that is clicked will lead to said page.-->
                        <a href = "/page would go here, such as /cart" target class = "module-link-layer u-negative">
                            <div class = "module-content-layer u-top-large u-top-small ">
                                <h5 class = "module-heading--primary">
                                    the wine that fills the cup of silence
                                </h5>
                                <p>
                                    Shop Keyboards
                                </p>  
                            </div>
                            <div class = "module-bg-image-container">
                                <picture class = "module-bg-picture">
                                    <img src = "../../../assets/images/keyboard-img.jfif">
                                </picture>
                            </div>
                        </a>
                    </section>
                </div>
                <!-- This is supposed to be 3 pictures in a row-->
                <section id = "module-home-gallery" class = "module module-home-gallery">
                    <a href = "/page here" target class = "module-link-layer module-home-gallery-item u-negative">
                        <div class = "module-content-layer u-bottom-large u-bottom-small text-center">
                            <div class = "module-content-cta-links"> </div>
                        </div>
                        <div class = "module-bg-image-container">
                            <picture class = "module-bg-picture">
                                <img src = "../../../assets/images/violin.jpg" class = "module-bg-image">
                            </picture>
                        </div>
                        <h5 class = "module-heading--badge">
                            <span style = "color:#00E5FF"> Trending Now</span>
                        </h5>
                    </a>
                    <a href = "/page here" target class = "module-link-layer module-home-gallery-item u-negative">
                        <div class = "module-content-layer u-bottom-large u-bottom-small text-center">
                            <div class = "module-content-cta-links"> </div>
                        </div>
                        <div class = "module-bg-image-container">
                            <picture class = "module-bg-picture">
                                <img src = "../../../assets/images/jazz.jpg" class = "module-bg-image">
                            </picture>
                        </div>
                    </a>
                    <a href = "/page here" target class = "module-link-layer module-home-gallery-item u-negative">
                        <div class = "module-content-layer u-bottom-large u-bottom-small text-center">
                            <div class = "module-content-cta-links"> </div>
                        </div>
                        <div class = "module-bg-image-container">
                            <picture class = "module-bg-picture">
                                <img src = "../../../assets/images/violin2.jpg" class = "module-bg-image">
                            </picture>
                        </div>
                    </a>
                </section>
                <!-- This should just be one wide picture -->
                <section class = "module module-full-width u-negative">
                    <div [routerLink]="['/products']" [queryParams]="{category: 'DJ Equipment'}" data-target class="module-link-layer u-negative">
                        <div class = "module-content-layer u-left-large u-top-small">
                            <h5 class = "module-heading--primary">
                                bend a note, shake it and listen
                            </h5>
                            <p> 
                                The first step on your path to music.
                            </p>                            
                            <div class = "module-content-cta-links">
                                <a href = "/page" class = "button" target>
                                    See DJ Equipment
                                </a>
                            </div>
                        </div>
                        <div class = "module-bg-image-container">
                            <picture class = "module-bg-picture">
                                <img src = "../../../assets/images/musicnote.jpg" height = "200" width = "500" class = "module-bg-image">
                            </picture>
                        </div>
                    </div>
                </section>
                <!-- This should just be one wide picture -->
                <section class = "module module-full-width u-negative">
                    <div data-link="/page" data-target class="module-link-layer u-negative">
                        <div class = "module-content-layer u-right-large u-top-small">
                            <h5 class = "module-heading--primary">
                                Music is the soundtrack of your life.
                            </h5>
                            <p> 
                                We at Soul Sound hope you find the best equipment that speak to your soul. Dig Deep.
                            </p>                            
                            <div class = "module-content-cta-links">
                                <a href = "/page" class = "button" target>
                                    Shop Soul Sounds
                                </a>
                            </div>
                        </div>
                        <div class = "module-bg-image-container">
                            <picture class = "module-bg-picture">
                                <img src = "../../../assets/images/long.jfif" class = "module-bg-image">
                            </picture>
                        </div>
                    </div>
                </section>
            </div>    
        </div>
    </div>    
    
    <div id='footer' >
      <div class="footer">
        <footer class="DesktopFooter">
          <div class="DesktopFooter__topContainer">
            <div class="BaseLayout">
              <div class="DesktopFooter__container">
                <div class="DesktopFooter__linksContainer">
                  <div class="DesktopFooter__linksColumn"></div>
                  <div class="DesktopFooter__linksColumn">
                    <h5 class="DesktopFooter__linkColumnHeader"> <br> </h5>
                      <a class="Anchor" [routerLink] = "['/about']" tabindex="0" title="Our Team" data-nav-description="f - our ream">Our Team</a>
                      <a class="Anchor" href="#" target="_self" tabindex="0" title="Investor Relations" data-nav-description="f - investor relations">Investor Relations</a>
                      <a class="Anchor" href="#" target="_self" tabindex="0" title="Affiliates" data-nav-description="f - affiliates">Affiliates</a>
                      <a class="Anchor" href="#" target="_self" tabindex="0" title="Careers" data-nav-description="f - careers">Careers</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="BaseLayout">
          <div class="DesktopFooter__bottomContainer">
            <div class="DesktopFooter__smallText">
              <div class="DesktopFooterTandC__terms1">
                <a class="Anchor" href="#" target="_self" tabindex="0" title="Terms &amp; Conditions" data-nav-description="f - terms &amp; coconditions">Terms &amp; Conditions |</a>
                <a class="Anchor" href="#" target="_self" tabindex="0" title="Privacy Policy" data-nav-description="f - privacy policy">Privacy Policy</a></div>
                <div class="DesktopFooterTandC__terms2">
                <div class="DesktopFooterTandC__copyright">Copyright 2022-2022 Soul Sounds, Inc.</div>
               </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
</body>
</html>