body {
    background: #ededed;
    color: #383838;
    cursor: auto;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.555;
    margin: 0;
    padding: 0;
    position: relative;
}

body, html {
    height: auto;
    color: #000;
}

/* Something happened and without this line, there are two vertical scroll bars. This combines them into one */
html {
    overflow-x: initial !important;
}

.body-content {
    background-color: #000;
    position: relative;
    z-index: 98;
}

.body-content>.module.u-negative:last-child {
    border-bottom: 1px solid #383838;
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.root{
    scroll-snap-type: y mandatory;
 }

  /* footer start */

  .footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 14px;
    bottom:0;
    left:0;
    width:100%;
    height: 80px;
  }
  /* footer end */

h1, h2, h3, h4, h5, h6 {
    cursor: pointer;
    text-align: left;
    box-sizing: border-box;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    line-height: .85em;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
    font-weight: 400;
    letter-spacing: -.05em;
    color: #fff;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 1.42857rem;
    font-size: 2.8125vw;
}

.h5, h5 {
    font-size: 1.28571rem;
}

p {
    font-style: normal;
    cursor: pointer;
    text-align: left;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif; 
    font-size: 1rem;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    color: #fff;
    margin-bottom: 1.42857rem;
    line-height: 1;
}

section {
    display: block;
}

blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
    margin: 0;
    padding: 0;
}

.button, button {
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1.14286rem 2.28571rem 1.21429rem 2.28571rem;
    font-size: 1.14286rem;
    background-color: #38d430;
    border-color: #2aac24;
    color: #fff;
    transition: background-color .3s ease-out;
}

.button, .button--primary, a.button, a.button--primary {
    position: relative;
    overflow: hidden;
    height: 3.57143rem;
    line-height: 3.57143rem;
    transition: all .15s ease;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
    letter-spacing: .07143rem;
    font-size: .85714rem;
    text-transform: uppercase;
    padding: 0 2.85714rem;
    border: 0;
    white-space: nowrap;
    text-align: center;
    background: 0 0;
    color: #fff;
    z-index: 98;
}

/*The ::before selector inserts something before the content of each selected element(s). Use the content property to specify the content to insert. 
Use the ::after selector to insert something after the content. */
.button--primary:before, .button:before, a.button--primary:before, a.button:before {
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #383838;
}

.button--primary:after, .button:after, a.button--primary:after, a.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 20px;
    height: 100%;
    top: 0;
    background: #2c2c2d;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%) skew(20deg) scaleX(1);
    transition: width .36s cubic-bezier(.175,.885,.32,1.275);
}
.u-negative {
    background-color: #000;
    color: #fff;
}

.u-negative p {
    color: #fff;
}

.u-negative .button, .u-negative .button--primary, .u-negative a.button, .u-negative a.button--primary {
    color: #000;
}

.u-negative .button--primary:before, .u-negative .button:before, .u-negative a.button--primary:before, .u-negative a.button:before {
    background: #f6f6f6;
}

.u-negative .button--primary:after, .u-negative .button:after, .u-negative a.button--primary:after, .u-negative a.button:after {
    background: #fff;
}

.u-negative .h1, .u-negative .h2, .u-negative .h3, .u-negative .h4, .u-negative .h5, .u-negative .h6, .u-negative h1, .u-negative h2, .u-negative h3, .u-negative h4, .u-negative h5, .u-negative h6 {
    color: #fff;
}

.u-negative .button--primary:active, .u-negative .button--primary:focus, .u-negative .button--primary:hover, .u-negative .button--primary:link, .u-negative .button--primary:visited, .u-negative .button:active, .u-negative .button:focus, .u-negative .button:hover, .u-negative .button:link, .u-negative .button:visited, .u-negative a.button--primary:active, .u-negative a.button--primary:focus, .u-negative a.button--primary:hover, .u-negative a.button--primary:link, .u-negative a.button--primary:visited, .u-negative a.button:active, .u-negative a.button:focus, .u-negative a.button:hover, .u-negative a.button:link, .u-negative a.button:visited {
    color: #000;
}

*, :after, :before {
    box-sizing: border-box;
}

.site-wide-promo.active {
    display: block;
}

.site-wide-promo {
    display: none;
    position: relative;
    z-index: 50;
}

.site-wide-promo-link {
    display: block;
    padding: 0.66em;
    border-top: 1px solid #2c2c2d;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    line-height: 1.1em;
    text-align: center;
}

/* These are module stylings */
.module-grid-parent {
    font-style: normal;
    cursor: auto;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
    line-height: 1.555;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: "featured featured second" "featured featured third";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 44vw;
}

.module-grid-parent .module-grid-item {
    height: auto!important;
}

.module-grid-parent .module-grid-item:nth-child(1) {
    font-style: normal;
    cursor: auto;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
    line-height: 1.555;
    font-size: 1rem;
    font-weight: 400;
    box-sizing: border-box;
    display: block;
    color: #fff;
    position: relative;
    overflow: hidden;
    background: #000;
    height: auto!important;
    grid-area: featured;
}

.module-grid-parent .module-grid-item:nth-child(2) {
    grid-area: second;
}

.module-grid-parent .module-grid-item:nth-child(3) {
    grid-area: third;
}

.module-grid-item:nth-child(1) {
    height: calc(100vh - 51px);
}

.module-grid-item:nth-child(2), .module-grid-item:nth-child(3) {
    height: 100vw;
}

.module-grid-item {
    background: #000;
}

.module {
    position: relative;
    overflow: hidden;
}

.module-content-layer {
    font-style: normal;
    line-height: 1.555;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    position: absolute;
    z-index: 99;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 7.8125vw;
    padding: 6vw 0;
    text-align: left;
    top: 0;
    bottom: auto;
    max-width: none;
    width: 27vw;
}

.module-content-layer p {
    margin-bottom: 1.42857rem;
    line-height: 1;
}

.module-content-layer .button:first-child {
    margin-bottom: 0;
}

.module-content-layer .button:last-child {
    margin-bottom: 0;
}

.module-home-gallery {
    position: relative;
    display: flex;
    height: 26vw;
}

.module-home-gallery-item .module-home-gallery-hover, .module-link-layer .module-home-gallery-hover {
    display: none;
    z-index: 99;
    transition: opacity .3s ease-out .1s;
    opacity: 0;
}

.module-home-gallery-item {
    position: relative;
    width: 33.3333%;
    height: 38.749996125vw;
    max-height: calc(100vh - 58px);
}

.module-home-gallery-item .module-home-gallery-hover, .module-home-gallery-item img, .module-link-layer .module-home-gallery-hover, .module-link-layer img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.module-home-gallery-item .module-content-layer.text-center {
    align-items: center;
    width: 100%;
    margin: 0;
}

.module-home-gallery-item .module-content-layer, .module-link-layer .module-content-layer {
    max-width: none;
}

.module-home-gallery .module-bg-image{
    height: 100%;
}

.module-home-gallery .module-link-layer {
    position: relative;
}

.module-home-gallery-item img, .module-link-layer img {
    object-fit: cover;
}

.module-full-width {
    position: relative;
    display: flex;
    height: 40vw;
}

.module-full-width .module-link-layer {
    display: block;
    position: relative;
}

.module-full-width .module-content-layer {
    justify-content: center;
    width: 27vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.module-bg-image {
    display: block;
    position: relative;
    z-index: 98;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.module-full-width .module-bg-image-container {
    position: relative;
    padding-bottom: 38.75%;
    height: calc(100vh - 51px);
}

.module-full-width .module-bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.text-center {
    text-align: center!important;
}

.module-grid-item .module-bg-image-container{
    height: 100%;
}

.module-grid-item .module-content-layer.text-center {
    padding-top: 3.92857rem;
}

.module-content-layer.u-top-large {
    top: 0;
    bottom: auto;
}

.module-content-layer.u-bottom-large {
    top: auto;
    bottom: 0;
}

.module-content-layer.u-left-large {
    right: auto;
    left: 0;
}

.module-content-layer.u-right-large {
    right: 0;
    left: auto;
}

.module-content-cta-links {
    width: 100%;
}

.module-heading--primary {
    margin-bottom: 1.42857rem;
    font-size: 2.57143rem;
}

.module-heading--badge {
    position: absolute;
    z-index: 500;
    top: 0.71429rem;
    left: 2.14286rem;
    text-transform: uppercase;
    word-spacing: 9999px;
}

/* (one-way binding to innerText – default target attrib – so automatically HTML encodes)
– equivalent to abbreviated syntax: <input data-link="name" /> 

This basically is helping the whole grid section be linked to another page.*/
.module-link-layer[data-link] {
    position: relative;
    cursor: pointer;
}

.module-link-layer {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

