<app-navbar></app-navbar>
<div class="container p-3">
    <h2 class="text-center light-foreground mb-5">{{title}}</h2>
    <app-loading-spinner id="loaderSpinner"></app-loading-spinner>
    <div class="row align-items-start justify-content-between">
       <div class="col mb-2" *ngFor="let product of allProducts">
            <div class="row justify-content-center">
                <app-product-card
                class="cardListItem"
                [productInfo]="product"
            ></app-product-card> 
            </div>
            
        </div> 
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable  mw-100 w-50">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Error</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeErrorModal('home')"></button>
            </div>
            <div class="modal-body">
                <p>{{pageError}}</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="closeErrorModal('home')">Close</button>
            </div>
        </div>
    </div>
</div>
