<div class="card-body">
    <div class="row">
       <div class="col-sm-3"><h4 class="card-title text-muted">Order #</h4></div> 
        <div class="col-sm-3"><h4 class="card-title text-muted">Date of order</h4></div>
        <div class="col-sm-3"><h4 class="card-title text-muted">Total Cost</h4></div>
        <div class="col-sm-3"><h4 class="card-title text-muted">Order Status</h4></div>
        
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3"><h5>{{orderInfo.id}}</h5></div>
        <div class="col-sm-3"><h5>{{orderInfo.orderDate}}</h5></div>
        <div class="col-sm-3"><h5>{{orderInfo.total}}</h5></div>
        <div class="col-sm-3"><h5>{{orderInfo.status}}</h5></div>
    </div>
    <button class="btn btn-outline-primary" (click)="viewProducts(products)">view order</button>
</div>
