
.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

img{
    justify-content: center;
    height: 200px;
    width: 200px;
    margin: 0;
    left:0;
}

#loaderSpinner{
    position:relative;
    top: 90%;
    left: 130%;
    margin-bottom: 75px;
}

